<div id="TempControll">
    <center><h1><a href="{{ asset('/') }}">Welcome to WERD TM Site</a></h1>
        <a class="small blue btn" href="{{ path('action') }}">Actions</a>&nbsp;
        <a class="small blue btn" href="{{ path('customtype') }}">Sniffer Manager</a>&nbsp;
    </center>
</div>
