.bg_green{
    background:palegreen;
}
.bg_red{
    background:tomato;
}
body{
    background:lightblue;
}

.time{
    background-color: #0D3349;
    color: #a5dce4;
    font-size: 28px;
    text-align: center;
}
.timeEpoch{
    font-size: 6px;
    text-align: center;
}

table{
    width: 100%;
}