{% extends 'WerdGameBundle:Default:index.html.twig' %}

{% block content %}
    <h1>Typehero creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('typehero_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
